:host {
    display: inline-block;
}

.card {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    margin: 1rem;
    border: 1px solid #fff;
    padding: 1rem;
    .title {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

    }
    &.small { }
    &.medium {
        width: 200px;
    }
    &.large {
        width: 300px;
        border-radius: 35px;
    }
    img {
        width: 30%;
        // margin: auto;
        text-align: center;
    }
    &.secondary {
        background-color: gray;
    }
    &.disabled {
        cursor: no-drop;
    }
}