@import '_colors';

:host {
    display: inline-block;
    // margin: 1rem;
    vertical-align: middle;
    &.small {
        width: 70px;
    }
    &.medium {
        width: 50%;
        min-width: 100px;
        padding: 0.5rem;
    }
    &.large {
        width: 20%;
        min-width: 160px;
        padding: 1rem;
        border-radius: 35px;
    }
}

.item-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;
    color: $baseWhite;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    &.clickable {
        cursor: pointer;
    }
    .bg {
        position: absolute;
        top: -0.25rem;
        left: -0.5rem;
        width: calc(100% + 1rem);
        height: calc(100% + 0.5rem);
        background: $darkGradient;
        z-index: 1;
        opacity: 0; 
        transition: opacity 0.5s ease-in-out;
    }
    &:not(.secondary) {
        &:hover .bg {
            opacity: 0.8;
        }
    }
    .title {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        z-index: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 20px;
    }
    img {
        margin-right: 0.5rem;
        z-index: 2;
    }
    
    img {
        width: 30%;
        text-align: center;
    }
    &.active {
        background: $darkGradient;
    }
    &.secondary {
        width: calc(100% + 1rem);
        height: calc(100% + 0.5rem);
        background: $darkGradient;
    }
    &.disabled {
        cursor: no-drop;
    }
}