@import '_colors';
@import '_animations';

.app-container {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    .bg {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        background: rgb(2,0,36);
        background: $mainBackgroundGradient;        
    }
    .side-bar {
        position: fixed;
        left: 0;
        height: 100%;
        max-width: 27%;
        padding: 1rem;
        display: flex;
        flex-direction: column;

        h1 {
            color: $strongWhite;

            border-bottom: 1px solid $baseWhite;
        }
        .nav {
            height: 80vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .nav-item {
                width: 100%;
                margin-top: 2rem;
                margin-bottom: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                img {
                    width: 50px;
                }
                span {
                    color: $baseWhite;
                    font-size: 25px;
                    width: 70%;
                    text-align: center;
                }
                &.active span {
                    text-decoration: underline;
                    color: $strongWhite;
                }
            }
        }

        img { width: 100%;}
    }
    .main {
        width: 73%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        & > div {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding: 1rem;
            width: 100%;
        }
        .cinema-section {
            .cinema-specific {
                display: flex;
                & > * {width: 100%;}
            }
            .spinner img {
                width: 100px;
                height: 100px;
                animation-name: spin;
                animation-duration: 1500ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear; 
            }
        }
    }
}