<div class="app-container">
  <div class="side-bar">
    <div class="logo">
      <img src="../assets/logo.svg" alt="iov42 ultraplex">
    </div>
    <h1>Dashboard</h1>
    <div class="nav">
      <app-card *ngFor="let card of navCards"
        [title]="card.title"
        [icon]="card.icon"
        (click)="selectNavigation(card)"
        size="large"></app-card>
    </div>
  </div>
  <div class="main">
    <app-section title="Cinemas" [cardType]="'cinema'" (addEmitter)="openCreateModal($event)">
      <app-card *ngFor="let card of cinemaCards"
        [title]="card.title"
        [icon]="card.icon"
        (click)="selectNavigation(card)"
        size="large"></app-card>
    </app-section>
    <app-section title="Movies" [cardType]="'movie'" (addEmitter)="openCreateModal($event)">
      <app-card *ngFor="let card of movieCards"
        [title]="card.title"
        [icon]="card.icon"
        (click)="selectNavigation(card)"
        size="large"></app-card>
    </app-section>
    <app-section title="Cinemas" [cardType]="'cinema'" (addEmitter)="openCreateModal($event)">
      <app-card *ngFor="let card of bookingCards"
        [title]="card.title"
        [icon]="card.icon"
        (click)="selectNavigation(card)"
        size="large"></app-card>
    </app-section>
  </div>
</div>