<div class="section">
    <div class="title">
        <h2>{{ title }}</h2>
    </div>
    <div class="content">
        <app-card 
              [title]="createItem.title"
              [secondary]="true"
              [icon]="createItem.icon"
              [size]="cardSize"
              (click)="addNew()"></app-card>
        <ng-content></ng-content>
        <div class="message" *ngIf="isEmpty">
            Sorry, this section has no available items. Please create one!
        </div>
    </div>
    <div class="bg"></div>
</div>