$baseWhite: #c3c3c3;
$strongWhite: #f9f9f9;
$baseBlack: #21222D;
$darkGradient: linear-gradient(340deg, rgba(42,42,57,1) 0%, rgba(49,60,72,0.6684874633447129) 100%);
$mainBackgroundGradient: linear-gradient(333deg, rgba(2,0,36,1) 0%, rgba(42,42,57,1) 18%, rgba(115,107,139,1) 100%);
$sectionGradient: linear-gradient(173deg, rgba(255,255,255,0.25) 0%, rgb(49, 60, 72) 100%);
$basePurple: #673ab7;
$darkerPurple: #542f94;