@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import '_colors';

html, body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
 }
 .custom-tabs a {
    color: $basePurple;
    &:hover {
        color: $darkerPurple;
    }
}

@import "~bootstrap/scss/bootstrap";

@import "~ngx-bootstrap/datepicker/bs-datepicker";
